<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="main1" style="width: 600px;height: 400px"></div>
        <div id="main2" style="width: 600px;height: 400px"></div>


        <script th:src="@{/js/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/echarts/echarts.min.js}"></script>
        <script th:inline="javascript">
            let myChart=echarts.init(document.getElementById("main1"));

            let myChart2 = echarts.init(document.getElementById("main2"));

            const path = [[${#request.getContextPath()}]];

            myChart.setOption({
                title:{
                    text:'报修额度'
                },
                legend:{

                },
                xAxis:{
                    data:[]
            },
            yAxis:{

            },
            series:[
                {
                    name:'额度',
                    type:'bar',
                    data:[],
                    showAllSymbol: true
            },
            ]
            });

            myChart2.setOption({
                title:{
                    text:'折线图'
                },
                tooltip:{},
                legend:{
                    data:['']
                },
                xAxis:{
                    data:[]
                },
                yAxis:{
                },
                series:[{
                    name:'访问量',
                    type:'line',
                    data:[]
                }]
            });

            $.post(
                path + "/owner/getThreeList",
                {},
                function(data){
                    let nameArr = [];
                    let countArr = [];

                    $.each(data,function(key,values){
                        nameArr.push(key);
                        countArr.push(values);
                    });

                    console.log(nameArr + " : " + countArr);

                    myChart.setOption({
                        xAxis:{
                            data:nameArr
                        },
                        series:[
                            {
                                name:'报修额度',
                                data:countArr
                            },
                        ]
                    });
                },
                "json"
            );

            $.post(
                path + "/owner/getThirtyList",
                {},
                function(data){
                    let nameArr = [];
                    let countArr = [];

                    $.each(data,function(key,values){
                        nameArr.push(key);
                        countArr.push(values);
                    });

                    console.log(nameArr + " : " + countArr);

                    myChart2.setOption({
                        xAxis:{
                            data:nameArr
                        },
                        series:[
                            {
                                name:'报修额度',
                                data:countArr
                            },
                        ]
                    });
                },
                "json"
            );

        </script>
    </body>
</html>