<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/js/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap/table/bootstrap-table.min.css}" rel="stylesheet">
    <title></title>
</head>
<body>
<!-- 查询区域 -->
<div class="form-div">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        菜单
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <!-- 查询表单 -->
                    <form id="queryForm" class="form-horizontal" role="form">
                        <div class="form-group">
                            <!-- 1.省-->
                            <label for="queryName" class="col-sm-1 control-label">业主姓名:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="queryName" name="queryName">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <button id="queryBtn" type="button" class="btn btn-primary">查询</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <button id="addBtn" type="button" class="btn btn-primary" onclick="toadd()">新增业主</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <button id="queryRepairBtn" type="button" class="btn btn-primary" onclick="toRepair()">查询保修</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 列表展示 -->
<table id="data">

</table>

<!-- 修改房源模态框 -->
<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">修改业主信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form"
                      th:action="@{/owner/update}"
                      method="post">

                    <!-- 用于更新数据的id值 -->
                    <input type="hidden" id="ownerId" name="id">

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">业主姓名</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="name" name="name" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="location" class="col-sm-2 control-label">住宅地址</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="location" name="location" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="idno" class="col-sm-2 control-label">身份证号</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="idno" name="idno" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="phone" name="phone" >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-primary">更新</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
<!-- 表单校验插件 -->
<script th:src="@{/js/jquery/validate/jquery.validate.min.js}"></script>
<!-- 表单校验插件汉化js -->
<script th:src="@{/js/jquery/validate/messages_zh.min.js}"></script>
<!-- bootstrap-table的两个js文件 -->
<script th:src="@{/js/bootstrap/table/bootstrap-table.min.js}"></script>
<script th:src="@{/js/bootstrap/table/bootstrap-table-zh-CN.min.js}"></script>

<script th:inline="javascript">
    const path = [[${#request.getContextPath()}]];

    $(function () {
        // 列表查询
        Et.queryList();

        $('#queryBtn').click(function(){
            $('#data').bootstrapTable("refresh");
        });
    });

    function toadd() {
        window.location.href = path+"/owner/to_add";
    }

    function toRepair() {
        window.location.href = path+"/owner/to_listRepair";
    }


    let Et = {
        // 1.列表查询
        queryList: function() {
            $('#data').bootstrapTable({
                url: path + '/owner/list',
                pagination: true,
                sidePagination: 'server',
                pageNumber: 1,
                pageSize: 5,
                pageList: [5, 10, 15, 20],
                queryParamsType: 'undefined',
                paginationPreText: '上一页',
                paginationNextText: '下一页',
                queryParams: function(params) {
                    // 单选按钮
                    let queryName = $("#queryName").val();

                    let newParam = {
                        pageNum: params.pageNumber,
                        pageSize: params.pageSize,
                        queryName: queryName || ''
                    };
                    return newParam;
                },
                columns: [
                    {field: 'id', title: 'id'},
                    {field: 'name', title: '业主姓名'},
                    {field: 'location', title: '住宅地址'},
                    {field: 'idno', title: '身份证号'},
                    {field: 'phone', title: '手机号'},
                    {field: 'publish_time', title: '录入时间'},
                    {title: '操作',
                        formatter: function(value, row, index) {
                            let update = "<button id='updateBtn' type='button' class='btn btn-success'>修改</button>";
                            let del = "<button id='delBtn' type='button' class='btn btn-danger'>删除</button>";
                            return update + " | " + del;
                        },
                        events: ownerEvent
                    }
                ]
            });
        }
    };

    window.ownerEvent = {
        'click #delBtn': function(event, value, row, index) {
            // form action -> http://localhost:8080/house/2
            let deleteAction = path + '/owner/del';
            $.ajax({
                url: deleteAction,
                type: 'GET',
                data: 'id=' + row.id,
                dataType: 'json',
                async: false,
                success: function(res) {
                    console.log(res);
                }
            });
        },

        'click #updateBtn': function(event, value, row, index) {
            $('#updateModal').modal('show');

            $('#name').val(row.name);
            $('#location').val(row.location);
            $('#idno').val(row.idno);
            $('#phone').val(row.phone);
            $('#ownerId').val(row.id);
        }
    }

</script>
</body>
</html>